*.pyc
*.egg
.tox
.idea/workspace.xml
.DS_Store
.coverage
coverage.xml
projectFileBackup
.cache/
build/*.*
build
docs/_build/
docs/build/*.*
dist/*.*
MANIFEST
tendo/build/*.*
tendo.egg-info
log.txt



pytestdebug.log

test-distribute.sh
.idea/misc.xml
.idea/tendo.iml
/ChangeLog
/AUTHORS
/.pytest_cache
venv/*
src/tendo/_version.py
