---
language: python
cache:
- pip
os:
- linux
stages:
- phase1
- phase2
- deploy
before_install:
  - which tox >/dev/null || if [ -z ${VIRTUAL_ENV+x} ]; then python -m pip install --user tox tox-pyenv wheel ; else python -m pip install tox tox-pyenv wheel twine; fi
notifications:
  email:
  - pycontribs@googlegroups.com
jobs:
  include:
  - stage: phase1
    script:
    - python setup.py sdist bdist_wheel
    - python -m tox
    env: TOXENV=lint
    python: '2.7'
  - stage: phase1
    script: python -m tox
    python: '2.7'
    env: TOXENV=docs
  - stage: phase1
    script: python -m tox
    python: '2.7'
    env: TOXENV=py27
    after_success:
    - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
  - stage: phase2
    script: python -m tox
    python: '3.4'
    env: TOXENV=py34
    after_success:
    - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
  - stage: phase2
    script: python -m tox
    python: '3.5'
    env: TOXENV=py35
    after_success:
    - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
  - stage: phase2
    script: python -m tox
    python: '3.6'
    env: TOXENV=py36 PYTHON='3.6' PYENV_VERSION='system'
    after_success:
    - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
  - stage: phase2
    script: python -m pip install -q tox-travis && python -m tox
    python: '3.7'
    env: TOXENV=py37 PYTHON='3.7'
    after_success:
    - bash <(curl -s https://codecov.io/bash) -e TOX_ENV
    dist: xenial
    sudo: required
  - stage: deploy
    script:
    - python setup.py sdist bdist_wheel
    - python -m twine upload dist/*
    if: tag IS present
    deploy:
    - provider: releases
      api_key:
        secure: 0Id8K7AgZ4KtOsa1N8Z0B7qCz9H/hP8xr475u+Q7aapguCGMf3K4KEJZ/yKFNxgPMM2Rl3n2jFsO3+0AfSV+no7ISP9v592FY/0vIGkrZ/aqxvcnUFpwsrXvS5bNfWEfTqFFddwG6u3vMFHyg0vCbUGOXl35EGH+xlnIhYPU30XFxAWwBQPOrQW1qmkkA3VMxtOMgYFzCd42P+7qo+Wt2Wcg7BFNpMVxMPEDUd1Ooi1zOOLJTl8FWo1s5ayksG5RxnYNqGTK+7FEfB/1FNa5SGOrtFXedWcH2qjMe3VUVaEHowNvOC+48DVjmlevpLBsarHRCvFES36MuJfvi3uaVPZDgkXiUV/uY0OhJDMclfG/tI7etefObLLft2RKusl06CNavDJN9RmKrjtvzOSo1sfjtdFu/2er80lrE8ph8olymXZHeF7EbDn+51vALBuICL8M7yaoO6v3rCg+QkKSJB+9/75nDl4rWusqdxGdt/9cG6et3l+yBiinrFZ6BHMk8UH7ItD17TQU6tiQDi7Fj1vEW3P++qLnQUkcdnCf0ASJBJCL1X1Pa9ddgtxf+4XuQqNlXvpyGhbTrDAdZtGjk2As0eL4Uq3xqiVGWEdj2veTGS4oct8dwmpuRRmUsUGhPX/LyYpiUpCkEZl71lZwK+ESeBL+zWkQuuJLMdT0/KQ=
      file_glob: true
      file:
      - dist/*
      - ChangeLog
      skip_cleanup: true
      on:
        tags: true
        repo: pycontribs/jira
        branch: master
env:
  global:
  - PIP_DISABLE_PIP_VERSION_CHECK=1
